[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison
[submodule "themes/cleanwhite"]
	path = themes/cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite
